<%= render partial: 'flats/nav' %>

<div class="m-auto w-75">
  <h2>All flats (<%= @flats.count %>)</h2>
  <div class="row" id="cards-container">
    <% @flats.each do |flat| %>
      <div class="border m-3 w-25 col-4 p-0" id="card">
        <div id="img ">
          <img src="https://images.unsplash.com/photo-1568605114967-8130f3a36994?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60" alt="" style="width: 100%;">
        </div>
        <div id='flat-info' class='border-bottom d-flex flex-column justify-content-between bg-light m-0' style="height: 200px">
          <h3 class="ps-2"><%= flat.name %></h3>
          <p class="ps-2"><%= flat.address %></p>
          <div id="people-price" class="p-2" >
            <p><p class="fa-solid fa-people"></p><%= flat.number_of_guests %> <p class="fa-solid fa-euro-sign"></p><%= flat.price_per_night %></p>
          </div>
        </div>
        <div id="link" class="d-flex">
          <p class="ps-2"><%= link_to "More info", flat_path(flat), class: "text-decoration-none", style: "color: #337ab7;" %></p>
          <p class="ps-2"><%= link_to "Edit", edit_flat_path(flat), class: "text-decoration-none text-warning" %></p>
          <p class="ps-2"><%= link_to "Remove", flat_path(flat), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"text-decoration-none text-danger" %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
